*.Rproj.user
*.Rhistory
*.Rdata.rds
*.Rdata
*.Ruserdata
*.csv
*.ipynb
*.jsonl
/.quarto/
/_site/
__pycache__
.Rproj.user

# specific projects
docs/posts/modern-bert/models
docs/posts/prompt-testing/json
docs/posts/prompt-testing/notebooks

posts/prompt-testing/cache
/posts/prompt-testing/notebooks