*.Rproj.user
*.Rhistory
*.Rdata.rds
*.Rdata
*.Ruserdata
*.csv
*.ipynb
/.quarto/
/_site/
__pycache__
.Rproj.user

# specific projects
posts/modern-bert/models
posts/prompt-testing/json
posts/prompt-testing/notebooks